# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
#*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/Clase01/AppPromedio/nbproject/private/
/Clase01/AppPromedio/build/
/Sem03/Proy01/nbproject/private/
/Sem03/Proy01/build/
/Sem03/VentaApp/nbproject/private/
/Sem03/VentaApp/build/
/Sem04/DiasMes/nbproject/private/
/Sem04/DiasMes/build/
/Consolidado01/Tarea/DIEGO ALONSO HUANCA/Pagoprin/build/
/Consolidado01/Tarea/DIEGO ALONSO HUANCA/Pagoprin/dist/
/Consolidado01/Tarea/DIEGO ALONSO HUANCA/Pagoprin/nbproject/private/
/Sem04/AprendiendoIF/nbproject/private/
/Sem04/AprendiendoIF/build/
/Consolidado01/Tarea/THAYLA JULYET ALBENGRIN QUIQUIA/Proyecto1/build/
/Consolidado01/Tarea/THAYLA JULYET ALBENGRIN QUIQUIA/Proyecto1/nbproject/private/
/Consolidado01/Tarea/JOSUE JARED ARAUCO LUIS/pagomensual/build/
/Consolidado01/Tarea/JOSUE JARED ARAUCO LUIS/pagomensual/nbproject/private/
/Consolidado01/Tarea/ROMEL SAUL MENESES PACHECO/Proy01Zzzz/build/
/Consolidado01/Tarea/ROMEL SAUL MENESES PACHECO/Proy01Zzzz/nbproject/private/
/Consolidado01/Tarea/ELIAS DAVID DAVILA FALCON/Proy01/nbproject/private/
/Sem04/PromedioApp/nbproject/private/
/Sem04/PromedioApp/build/
/Sem05/AprendiendoBucles/nbproject/private/
/Sem05/AprendiendoBucles/build/